<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="github.tags" version="1">
    <about>
        <name>Github Tags Pooler</name>
        <version>${project.version}</version>
        <target-go-version>15.1.0</target-go-version>
        <description>
            Plugin that polls a GitHub repository for tags (releases) and triggers a build for each of them
        </description>
        <vendor>
            <name>Cogniflare.io</name>
            <url>https://github.com/cogniflare/gocd-scm-github-tags</url>
        </vendor>
    </about>
</go-plugin>